html, body {
	height:100%;
}
.carousel {
	height:50%;
}
.item,
.active,
.carousel-inner {
	height:100%;
}
.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.section {
	margin: 50px 0;
}
.login-img{
	text-align: center;
}
.login-section{
	margin: 5% 20%;
	padding: 5% 20%;
	border:solid 5px #5bc0de;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
footer {
	margin: 50px 0;
}
.orange{
	color: #fa7147;
}
.blue{
	color: #5bc0de;
}
.blueBackground{
	background-color: #5bc0de;
}
.brandMargin{
	margin-bottom: 10px;
}
.padded{
    margin:15px;
}

.btn.dropdown-toggle.beforetoggle {
    border-radius: 4px 0 0 4px;
}

.customH1 {
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 59px;
    margin-bottom:45px;
    line-height: 70px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}
.customH4 {
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 40px;

    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

.customH1_first {
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 65px;
    margin-top:50px;
    margin-bottom:25px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.customH1_color {
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 45px;
    color: #FE9A2E;
    line-height: 120px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}




/* green1: 07ad79; 2:06a277;
*/
/* Bar Graph*/
