html, body {
	height:100%;
}
.carousel {
	height:50%;
}
.item,
.active,
.carousel-inner {
	height:100%;
}
.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}
.section {
	margin: 50px 0;
}
.login-img{
	text-align: center;
}
.login-section{
	margin: 5% 20%;
	padding: 5% 20%;
	border:solid 5px #5bc0de;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
footer {
	margin: 50px 0;
}
.orange{
	color: #fa7147;
}
.blue{
	color: #5bc0de;
}
.blueBackground{
	background-color: #5bc0de;
}
.brandMargin{
	margin-bottom: 10px;
}

/* green1: 07ad79; 2:06a277;
*/